* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #F2F4F9;
    overflow-x: hidden;
}
.container{
    display:flex;
}

.left {
  flex-shrink: 0;
  flex-basis: 70%;
}

.right {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin: 1vh 1vh 1vh 0;
  height: 98vh;
  width: 100%;
}

.search {
    margin: 1vh 0 0 1%;
    padding-left: 10px;
    height: 2.5rem;
    width: 98%;
    border-radius: 4px;
    border-style: none;
    font-size: 17px;
    outline: none;
}
::placeholder { 
    color: black;
    opacity: .2;
}
/*
footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: rgb(66, 64, 54);
    line-height: 5vh;
    color: white;
    text-align: center;
}
*/
/**Responsive**/
@media only screen and (max-width: 90px) {
    .container {
        /* it place the items in vertical direction */
      flex-direction: column;
    }
}