@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F2F4F9;
    overflow-x: hidden;
}
.container{
    display:flex;
}

.left {
  flex-shrink: 0;
  flex-basis: 70%;
}


.search {
    margin: 1vh 0 0 1%;
    padding-left: 10px;
    height: 2.5rem;
    width: 98%;
    border-radius: 4px;
    border-style: none;
    font-size: 17px;
    outline: none;
}
::placeholder { 
    color: black;
    opacity: .2;
}
.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}
.item {
    margin: 1rem 0 0 1rem;
    width: 119px;
    background-color: #fff;
    border-radius: 10px;
}
.image {
    width: 119px;
    height: 120px;
    border-radius: 10px;

}
.name {
    font-weight: 800;
    display: block;
    text-align: center;
}
.price {
    font-weight: 800;

}

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 69%;
    line-height: 3vh;
    padding-left: 10px;
    background-color: #F2F4F9;
}
hr {
    opacity: .3;
}
.right {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin: 1vh;
  min-height: 98vh;
  width: 100%;
}
/*
footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: rgb(66, 64, 54);
    line-height: 5vh;
    color: white;
    text-align: center;
}
*/
/**Responsive**/
@media only screen and (max-width: 90px) {
    .container {
        /* it place the items in vertical direction */
      flex-direction: column;
    }
}