* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #F2F4F9;
    overflow-x: hidden;
}
.split {
    height:95vh;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top:0;
}
.left {
    left: 0;
    width: 70%;
}
.right {
    right: 0;
    width: 30%;
    background-color: rgba(187, 125, 125, 0.466);
}
footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: rgb(66, 64, 54);
    line-height: 5vh;
    color: white;
    text-align: center;
}